/* extends base layout */
.shower {
    transition: transform .2s cubic-bezier(.4, 0, .2, 1);
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
}
.slide.large {
    font-size: 18px;
}
.slide.large li {
    margin-bottom: 10px;
}
.slide {
    color: #000;
    padding-top: 50px;
    line-height: 1.2em;
}
.slide:after {
    visibility: hidden;
}
.slide h2 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000;
}
.slide ol li::before, .slide ul li::before {
    color: currentColor;
}
.slide code, .slide kbd, .slide mark, .slide samp {
    padding: .01em .3em;
}
.slide mark {
    color: inherit;
    background: rgba(255, 229, 27, .5);
}

.slide li {
    margin-bottom: 15px;
}

.progress {
    border-color: rgba(255, 229, 27, 1);
    border-right-color: transparent;
}

.progress::before {
    background-color: rgba(255, 229, 27, 1);
}

a {
    color: inherit !important;
}
.cols {
    display: flex;
    margin-left: -75px;
    margin-right: -75px;
}
.cols > * {
    flex: 1;
    padding-left: 75px;
    padding-right: 75px;
}
.groups {
    line-height: 1.4em;
}
.groups .double {
    margin-right: -20px;
}
.qr {
    position: relative;
    display: inline-block;
}
.qr__text {
    display: block;
    padding-bottom: 10px;
    font-size: .8em;
}
.qr__link {
    position: absolute;
    bottom: 100%;
    left: -70px;
    right: -70px;
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
    background: none !important;
}
.qr__image {
    width: 200px;
    padding: 10px;
    background-color: #fff;
}
.ns {
    text-align: center;
    color: #000;
}
.ns .logos {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.ns .logo {
    width: 200px;
    max-height: 230px;
    margin: -30px 30px 30px 0;
}
.ns h2 {
    font-size: 70px;
}
.ns p {
    font-size: 50px;
}
#map {
    width: 100%;
    height: 410px;
    margin-left: -20px;
}
.folder li {
    margin-bottom: 0;
}

/* horizontal workshops list */
.cols > .row > ul {
    display: flex;
    flex-wrap: wrap;
}

.cols.wide{
    display: flex;
    flex-direction: column;
    min-height: 80%;
    font-size: 96%;
}

.slide > .cols.wide > .row > ul > li:first-child:lang(ru){
    margin-right: 5px;
}

.slide > .cols.wide > .row > ul > li:not(:first-child):lang(ru){
    padding: 0 5px;
}

.slide > .cols.wide > .row > ul > li:not(:first-child):lang(ru)::before{
    content: ' ';
}